canvas{
  width: 49.5%; 
  height: 400px; 
  border: 1px solid black;
  display : block;
  margin-left : auto;
  margin-right : auto;
  margin-top : 15px;
}


body{
  background-color:blue;
  color : red;
}

button {
    border: none;
    height : 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;
}

#fu{
  font-size: 20px;
  display: block;
  margin-top: 20px;
  margin-left: 100px;
}

#options{
  width: 500px;
  display : block;
  margin-left : auto;
  margin-right: auto;
}
